@using Sharester.Services
@using WebGrease.Css.Extensions
@{
    ViewBag.Title = "Sharester";
}

<ul data-role="listview" data-inset="true">
    <!----li data-role="list-divider">Navigation</!--li -->
    <li class="ui-corner-all">@Html.ActionLink("Summary", "Summary", "Home")</li>
    <li class="ui-corner-all">@Html.ActionLink("Buy", "Buy", "Home")</li>
    <li class="ui-corner-all">@Html.ActionLink("Sell", "Sell", "Home")</li>
    <li class="ui-corner-all">@Html.ActionLink("Suggestions", "Suggestions", "Home")</li>
    <li class="ui-corner-all">@Html.ActionLink("RealEstate", "RealEstate", "Home")</li>
    <li class="ui-corner-all">@Html.ActionLink("DomesticHelp", "DomesticHelp", "Home")</li>
    <li class="ui-corner-all">@Html.ActionLink("Others", "Others", "Home")</li>
</ul>
