<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div data-role="page" data-theme="b">
            <div data-role="header">
                @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                } else {
                    <h1><a href="/" style="text-decoration: none; color:white">@ViewBag.Title</a></h1>
                    @Html.Partial("_LoginPartial")
                }
            </div>
            <div data-role="content">
                @RenderBody()
            </div>

            <div id="footer">
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Contact us", "Contact", "Home")
                @Html.ActionLink("Policy", "Policy", "Home")
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        <script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
               
            $(document).ready(function() {

                $("#notifyOwnerButton").click(function() {
                    $("#notifyOwnerRequest").addClass("viewHidden");
                    $("#notifyOwnerForm").addClass("viewVisible").removeClass("viewHidden");
                });

                $("#NotificationSubmit").click(function () {
                    $("#notifyOwnerForm").html("Query has been sent to owner.");
                });

                $("#notificationImage").click(function () {
                    $("#Summary").find(".view").addClass("viewHidden").removeClass("viewVisible");
                    $("#notificationContent").removeClass("viewHidden").addClass("viewVisible");
                });
                $("#historyImage").click(function () {
                    
                });

                //$("#notificationRow").click(function() {
                //    if($(this).siblings().hasClass("viewHidden")){
                //        $(this).siblings().removeClass("viewHidden").addClass("viewVisible");
                //    } else {
                //        $(this).siblings().addClass("viewHidden").removeClass("viewVisible");
                //    }
                //});

                $("#SearchCategoryDomesticHelp").change(function() {
                    $("#domesticHelpList div").addClass("viewHidden");
                    $("#domesticHelpList").find("." + $("#SearchCategoryDomesticHelp option:selected").text().toLowerCase()).removeClass("viewHidden");
                });

                $("#AddItem").click(function () {
                    var $item = $(".item").first().clone();
                    for (var i = 0; i < $item.find("input").length; i++) {
                        $item.find("input")[i].value = '';
                    }
                    $("#ItemList").append($item);
                });

                $("#SearchSubmit").click(getSearch);

                $("#SubmitPost").click(postItems);

                function postItems() {
                    var data = {Items: []};
                    $(".item").each(function(index, e) {
                        var item = {};
                        item.Name = $(e).find(".ItemName")[0].value;
                        item.Description = $(e).find(".ItemDescription")[0].value;
                        item.Cost = $(e).find(".ItemCost")[0].value;
                        item.Reference = $(e).find(".ItemReference")[0].value;
                        item.Category = $(e).find(".ItemCategory option:selected").text();
                        data.Items.push(item);
                    });

                    var userId = $("#Post").attr("data-userId");
                    
                    $.ajax({
                        url: "../api/Post/create/" + userId,
                        type: 'PUT',
                        dataType: 'text',
                        data: JSON.stringify(data),
                        success: function(response) {
                            $("#Post #errorMessage").text("Post successfully saved.");

                            var $item = $(".item").first().clone();
                            for (var i = 0; i < $item.find("input").length; i++) {
                                $item.find("input")[i].value = '';
                            }
                            $("#ItemList").html($item);

                        },
                        error: function(response) {
                            $("#Post #errorMessage").text("Some error while posting request.");
                        }
                    });
                }

                function getSearch() {
                    var query = !!$("#SearchQuery")[0].value ? $("#SearchQuery")[0].value : "All";
                    $.ajax({
                        url: "../api/SearchItem/GetSearch/" + query + "/" + $("#SearchCategory option:selected").text(),
                        type: 'GET',
                        dataType: 'json',
                        success: function (response) {
                            $("#SearchResults").removeClass("viewHidden")
                                    .addClass("viewVisible")
                                    .html('');
                            if (response.length > 0) {
                                response.forEach(function(item) {
                                    var $div = $("<div/>").attr({
                                        "data-id": item.Id,
                                        "data-Name": item.Name
                                    });
                                    $div.append($("<span style='margin-right:10px;'/>").html("<b>" + item.Name + "</b>"))
                                        .append($("<span/>").text(item.Cost + " Rs"))
                                        .append($("<div />").append($("<img class=\"ui-corner-all\"/>").attr({
                                            "src": getImageUrl(item.Images, item.CategoryType),
                                            "style": "Width:150px; height:200px"
                                        })));
                                    var $a = $("<a />").attr({ "href": "item?itemid=" + item.Id, "style":"text-decoration:none; color: black;" }).append($div);
                                    $("#SearchResults").append($a);
                                });
                            } else {
                                $("#SearchResults").html("Results not found.");
                            }
                        },
                        error: function (response) {
                            alert(response);
                        }
                    });
                }
            });
            });
            
            function getImageUrl(Images, category) {
                if (Images != undefined && Images.length > 0) {
                    if (!!Images[0].trim()) {
                        return '../' + Images[0].trim();
                    } else {
                        return getCategoryUrl(category);
                    }
                } else {
                    return '';
                }
            }
            
            function getCategoryUrl(category) {
                switch (category) {
                    case "Furniture":
                        return "../Content/images/furniture.jpg";
                    case "Decoration":
                        return "../Content/images/decoration.jpg";
                    case "Electronics":
                        return "../Content/images/electronics.png";
                    case "Sports":
                        return "../Content/images/sports.jpg";
                    default:
                        return "../Content/images/others.jpg";
                }
            }
        </script>
        @Scripts.Render("~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)
    </body>
</html>
